<div class="mygallery">
    <!--
    <div class=" frame-square">
        <div class="square">
         <a href="assets\images\profile-photo.jpg" data-size="1600x1067">
             <img src="assets\images\profile-photo.jpg" class="img-responsive square-photo">
         </a> 
         </div>
    </div>
     
    <div class=" frame-square">
     <div class="square">
         <a href="assets\images\download.png" data-size="1600x1067">
             <img src="assets\images\download.png" class="img-responsive square-photo">
         </a>
     </div>
    </div>
    
    <div class=" frame-square">
     <div class="square">
         <a href="assets\images\random.jpg" data-size="1600x1067">
             <img src="assets\images\random.jpg" class="img-responsive square-photo">
         </a>    
     </div>
    </div>
    
    <div class=" frame-square">
     <div class="square">
         <a href="assets\images\random.jpg" data-size="1600x1067">
             <img src="assets\images\random.jpg" class="img-responsive square-photo">
         </a>
     </div>
    </div>
    
    <div class=" frame-square">
     <div class="square">
         <a href="assets\images\random.jpg" data-size="1600x1067">
             <img src="assets\images\random.jpg" class="img-responsive square-photo">
         </a>
     </div>
    </div>
    
    <div class=" frame-square">
     <div class="square">
         <a href="assets\images\random.jpg" data-size="1600x1067">
             <img src="assets\images\random.jpg" class="img-responsive square-photo">
         </a>
     </div>
    </div>
    
    <div class=" frame-square">
     <div class="square">
         <a href="assets\images\random.jpg" data-size="1600x1067">
             <img src="assets\images\random.jpg" class="img-responsive square-photo">
         </a>
     </div>
    </div>-->
 </div>
