<div class="card mb-sm-3 mb-md-0 contacts_card">
    <div class="card-header">
        <h4>Direct Messages</h4>
        <br>
        <div class="input-group">
            <input type="text" placeholder="Search..." name="" class="form-control search">
            <div class="input-group-prepend">
                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
            </div>
        </div>
    </div>

    <div class="card-body contacts_body">
        <ul class="contacts" *ngFor="let user of users" (click)="openConversation(user.uuid)">
            <li [ngClass]="{'active': currentUUID === user.uuid}">
                <div class="d-flex bd-highlight">
                    <div class="img_cont">
                        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                        <span *ngIf="onlineUsers.indexOf(user.email) !== -1" class="online_icon"></span>
                        <span *ngIf="onlineUsers.indexOf(user.email) === -1" class="online_icon offline"></span>
                    </div>
                    <div class="user_info">
                        <span>{{ user.firstName + ' ' + user.lastName }}</span>
                        <p *ngIf="onlineUsers.indexOf(user.email) !== -1">{{ user.firstName }} is online</p>
                        <p *ngIf="onlineUsers.indexOf(user.email) === -1">{{ user.firstName }} is offline</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-footer"></div>
</div>