.nav-class {
    background-color: rgb(69, 0, 61);
    padding-right: 1%;
    width: 100%;
    z-index: 99999;
}

.fa.fa-bars {
    font-size: 36px;
    color: grey;
}

.nav-link {
    float: left;
}

.nav-item.nav-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item.nav-link:last-child {
    border-right: none;
}

.nav-item.nav-link:hover {
    cursor: pointer;
}

.navbar-brand {
    font-family: 'Nosifer';
    color: whitesmoke;
    padding-top: 1%;
    font-size: 110%;
}

.user img {
    height: 30px;
    width: 30px;
}

.user span {
    margin-left: 5px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    line-height: 45px;
    height: 45px;
    padding: 0 16px;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
  }

#left {
    width: 60%;
}
/* Styles for wrapping the search box */
* {
    box-sizing: border-box;
  }

div.example {
    width: 50%;
}

.input-flex-container {
    width: 65%;
    display: flex;
    flex-wrap: nowrap;
}

/* Style the submit button */
 #searchButton {
    float: left;
    width: 40px;
    height: 40px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    background:  rgb(124, 3, 110);
    color: white;
    font-size: 17px;
    border: 1px solid  rgb(124, 3, 110);
    border-left: none; /* Prevent double borders */
    text-align: center;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

@media only screen and (max-width: 1200px) {
    .flex-container {
        width: 80%;
    }
} 

@media only screen and (max-width: 1000px) {
    .flex-container {
        width: 90%;
    }

    div.example {
        width: 70%;
    }
} 

@media only screen and (max-width: 767.98px) {
    div.example {
        width: 80%;
    }

    .input-flex-container {
        width: 80%;
    }

    .nav-item.nav-link {
        border-right: none;
    }

    #left {
        width: 65%;
    }

    input {
        width: 100%;
    }

    form.example button {
        margin-top: 4px;
    }
}

@media only screen and (max-width: 650px) {
    #left {
        width: 80%;
    }
}

@media only screen and (max-width: 550px) {
    div.example {
        width: 90%;
    }

    form.example button {
        margin-top: 4px;
    }
}

@media only screen and (max-width: 640px) {
    form.example button {
        margin-top: 3px;
    }
}

@media only screen and (max-width: 450px) {
    .input-flex-container {
        width: 100%;
    }

    div.example {
        width: 90%;
    }

    form.example button {
        margin-top: 2px;
    }
}
@media only screen and (max-width: 321px) {
    
    form.example button {
        margin-top: 3px;
    }
}

@media only screen and (max-width: 281px) {
    
    form.example button {
        margin-top: 2px;
    }
}