<nav class="navbar navbar-expand-md nav-class fixed-top">

    <div class="navbar-nav" id="left">
        <a routerLink="/" class="navbar-brand">Social Hub</a>
        <form *ngIf="navLinks" class="example">
            <input type="text" placeholder="Search..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <i class="fa fa-bars"></i>
    </button>

    <div *ngIf="navLinks" class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active">
                <i class='fas fa-home' style='font-size:20px'></i>
            </a>
            <a href="#" class="nav-item nav-link">
                <i class='fas fa-user' style='font-size:20px'></i>
            </a>
            <a href="#" class="nav-item nav-link">
                <i class='fas fa-comments' style='font-size:20px'></i>
            </a>
            <a href="#" class="nav-item nav-link">
                <i class='fas fa-users' style='font-size:20px'></i>
            </a>
            <a href="#" class="nav-item nav-link">
                <i class='fas fa-bell' style='font-size:20px'></i>
            </a>
        </div>
    </div>
</nav>