<nav class="navbar navbar-expand-md nav-class fixed-top">

    <div class="navbar-nav" id="left">
        <a *ngIf="existingUser === true" href="/home" class="navbar-brand">Social Hub</a>
        <a *ngIf="existingUser === false" href="/" class="navbar-brand">Social Hub</a>
        
        <div *ngIf="navLinks" class="example">
            <div class="input-flex-container">
                <ng-autocomplete
                    [minQueryLength]="'1'"
                    [data]="users"
                    [searchKeyword]="searchKeyword"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate"
                    [placeHolder]="placeholder" 
                    (selected)="openProfile($event)" >                               
                </ng-autocomplete>

                <div id="searchButton"><i class="fa fa-search"></i></div>
            </div>

            <ng-template #itemTemplate let-user>
                <div class="user">
                    <img *ngIf="user.pictureURL !== undefined" [src]="user.pictureURL" alt="user" class="rounded-circle">
                    <span [innerHTML]="user.firstName + ' ' + user.lastName"></span>
                </div>
            </ng-template>
                 
            <ng-template #notFoundTemplate>
                <div style="text-align: center;" [innerHTML]="notFoundMessage"></div>
            </ng-template>
        </div>
        
    </div>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <i class="fa fa-bars"></i>
    </button>

    <div *ngIf="navLinks" class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <a href="/home" class="nav-item nav-link">
                <i class='fas fa-home' style='font-size:20px'></i>
            </a>
            <a [href]='userProfileLink'  class="nav-item nav-link">
                <i class='fas fa-user' style='font-size:20px'></i>
            </a>
            <a href="/chat/inbox" class="nav-item nav-link">
                <i class='fas fa-comments' style='font-size:20px'></i>
            </a>
            <a href="friends/friend-requests" class="nav-item nav-link">
                <i class='fas fa-users' style='font-size:20px'></i>
            </a>
            <a href="#" class="nav-item nav-link">
                <i class='fas fa-bell' style='font-size:20px'></i>
            </a>
            <a href='/' (click)="logout()" class="nav-item nav-link">
                <i class='fas fa-sign-out-alt' style='font-size:20px'></i>
            </a>
        </div>
    </div>
</nav>

