<nav class="navbar navbar-expand-md nav-class fixed-top">

    <div class="navbar-nav" id="left">
        <a href="/" class="navbar-brand">Social Hub</a>
        <form *ngIf="navLinks" class="example" >
            <input type="text" placeholder="Search..." name="search" class="search" (input)="search()" [(ngModel)]="searchString" > 
            <div><i class="fa fa-search"></i></div>
            
        </form>
    </div>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <i class="fa fa-bars"></i>
    </button>

    <div *ngIf="navLinks" class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <a href="/home" class="nav-item nav-link">
                <i class='fas fa-home' style='font-size:20px'></i>
            </a>
            <a [href]='userProfileLink'  class="nav-item nav-link">
                <i class='fas fa-user' style='font-size:20px'></i>
            </a>
            <a href="/chat/inbox" class="nav-item nav-link">
                <i class='fas fa-comments' style='font-size:20px'></i>
            </a>
            <a href="#" class="nav-item nav-link">
                <i class='fas fa-users' style='font-size:20px'></i>
            </a>
            <a href="#" class="nav-item nav-link">
                <i class='fas fa-bell' style='font-size:20px'></i>
            </a>
            <a href='/' (click)="logout()" class="nav-item nav-link">
                <i class='fas fa-sign-out-alt' style='font-size:20px'></i>
            </a>
        </div>
    </div>
</nav>