.nav-class {
    background-color: rgb(69, 0, 61);
    padding-right: 1%;
    width: 100%;
    overflow: hidden;
    z-index: 5;
}

.fa.fa-bars {
    font-size: 36px;
    color: grey;
}

.nav-link {
    float: left;
}

.nav-item.nav-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item.nav-link:last-child {
    border-right: none;
}

.nav-item.nav-link:hover {
    cursor: pointer;
}

input {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 50%;
}

.navbar-brand {
    font-family: 'Nosifer';
    color: whitesmoke;
    padding-top: 1%;
    font-size: 110%;
}

#left {
    width: 60%;
}
/* Styles for wrapping the search box */
* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 4px;
    padding-right: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 4px;
    margin-top: 2px;
    background:  rgb(124, 3, 110);
    color: white;
    font-size: 17px;
    border: 1px solid  rgb(124, 3, 110);
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: rgb(22, 1, 20);
    border: 1px solid  rgb(22, 1, 20);
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


@media only screen and (max-width: 767.98px) {
    .nav-item.nav-link {
        border-right: none;
    }

    #left {
        width: 65%;
    }

    input {
        width: 100%;
    }

    form.example button {
        margin-top: 4px;
    }
}

@media only screen and (max-width: 550px) {
    #left {
        width: 85%;
    }
    form.example button {
        margin-top: 4px;
    }
}
@media only screen and (max-width: 640px) {
    
    form.example button {
        margin-top: 3px;
    }
}

@media only screen and (max-width: 400px) {
    #left {
        width: 75%;
    }
    form.example button {
        margin-top: 2px;
    }
}
@media only screen and (max-width: 321px) {
    
    form.example button {
        margin-top: 3px;
    }
}

@media only screen and (max-width: 281px) {
    
    form.example button {
        margin-top: 2px;
    }
}