    
        <div class="profile">
            <div class="row">
                <div class="column">
                    <h2>Oana Todirica</h2>
                    <p><strong>About: </strong> I like mango </p>
                    <h3><strong> Friends: </strong> 249 </h3>
                </div>             
                <div class="column">
                    <figure>
                        <img src="assets\images\download.png" alt="" class="rounded-circle profile-photo">
                    </figure>
                </div>
            </div>    
            <hr>     
            <div class="row">
                <div class="col-xs-12 col-sm-6 emphasis">
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Add friend </button>
                </div>
                <div class="col-xs-12 col-sm-6 emphasis">
                    <button class="btn btn-info btn-block"><span class="fa fa-envelope"></span> Message </button>
                </div>
            </div>
        </div>
            
	
