    
        <div class="profile">
            <div class="row">
                <div class="column">
                    <h2>{{ currentUser.firstName + " " + currentUser.lastName }}</h2>
                    <p><strong>About: </strong> I like mango </p>
                    <h3><strong> Friends: </strong> 249 </h3>

                </div>             
                <div class="column">
                    <div class="dropdown float-right">
                        <button class="btn btn-flat btn-flat-icon" style="background-color: rgba(241, 240, 241, 0.952);" type="button" data-toggle="dropdown" aria-expanded="false">
                         <em class="fa fa-ellipsis-h"></em>
                        </button>
                        <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                         <a class="dropdown-item" href="#">Change profile picture</a>
                         <a class="dropdown-item" href="#">Add a new photo</a>
                        </div>
                       </div><!--/ dropdown -->
                       <figure>
                        <img src="assets\images\download.png" alt="" class="rounded-circle profile-photo">
                    </figure>
                    
                </div>
            </div>    
            <hr>     
            <div class="row">
                <div class="col-xs-12 col-sm-6 emphasis">
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Add friend </button>
                </div>
                <div class="col-xs-12 col-sm-6 emphasis">
                    <button class="btn btn-info btn-block"><span class="fa fa-envelope"></span> Message </button>
                </div>
            </div>
        </div>
            
	
