<app-navbar [navLinks]="true"></app-navbar>

<section class="hero">
    <div class="container">
        <div class="row">	
     
            <div class="col-lg-6 offset-lg-3">
       
                <button class="activeButton" disabled>Friend requests</button>
                <button class="nonActiveButton" disabled>Friends</button>

                <div class="cardbox shadow-lg bg-white" >
            
                    <div class="nearby-user" >
                        <div class="row">
                          <div class="col1">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="img-fluid rounded-circle">
                          </div>
                          <div class="col2">
                            <h5><a href="#" class="profile-link">Sophia Page</a></h5>
                            <p>descvription jbf erf bru r vruvhfb vhf vu vu cur ur ur vcrbhvrbvr</p>
                          </div>
                          <div class="col3">
                            <button class="btn btn-success" style="margin-right: 10px;">Accept</button>
                            <button type="button" class="btn btn-danger">Ignore</button>
                          </div>
                        </div>
                      </div>
                     
                    <div class="nearby-user" style="padding: 25px;">
                      <div class="row">
                        <div class="col1">
                          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="img-fluid rounded-circle">
                        </div>
                        <div class="col2">
                          <h5><a href="#" class="profile-link">Sophia Page</a></h5>
                          <p>description</p>
                        </div>
                        <div class="col3">
                          <button class="btn btn-success" style="margin-right: 10px;">Accept</button>
                          <button type="button" class="btn btn-danger">Ignore</button>
                        </div>
                      </div>
                    </div>
                    <div class="nearby-user" style="padding: 25px;">
                        <div class="row">
                          <div class="col1">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="img-fluid rounded-circle">
                          </div>
                          <div class="col2">
                            <h5><a href="#" class="profile-link">Sophia Page</a></h5>
                            <p>description</p>
                          </div>
                          <div class="col3">
                            <button class="btn btn-success" style="margin-right: 10px;">Accept</button>
                            <button type="button" class="btn btn-danger">Ignore</button>
                          </div>
                        </div>
                      </div>
                      <div class="nearby-user" style="padding: 25px;">
                          <div class="row">
                            <div class="col1">
                              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="img-fluid rounded-circle">
                            </div>
                            <div class="col2">
                              <h5><a href="#" class="profile-link">Sophia Page</a></h5>
                              <p>description</p>
                            </div>
                            <div class="col3">
                              <button class="btn btn-success" style="margin-right: 10px;">Accept</button>
                              <button type="button" class="btn btn-danger">Ignore</button>
                            </div>
                          </div>
                        </div>
                        <div class="nearby-user" style="padding: 25px;">
                            <div class="row">
                              <div class="col1">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="img-fluid rounded-circle">
                              </div>
                              <div class="col2">
                                <h5><a href="#" class="profile-link">Sophia Page</a></h5>
                                <p>description</p>
                              </div>
                              <div class="col3">
                                <button class="btn btn-success" style="margin-right: 10px;">Accept</button>
                                <button type="button" class="btn btn-danger">Ignore</button>
                              </div>
                            </div>
                          </div>

                </div><!--/ cardbox -->

            </div><!--/ col-lg-6 -->	               
        </div><!--/ row -->
    </div><!--/ container -->
</section>       