<div class="card">
    <div class="card-header msg_head">
        <div class="d-flex bd-highlight">
            <div class="img_cont">
                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                <span class="online_icon"></span>
            </div>
            <div class="user_info">
                <span>{{ receiver.firstName + ' ' + receiver.lastName }}</span>
            </div>		
        </div>
    </div>
    
    <div class="card-body msg_card_body" id="msg-container">
    </div>

    <span id="typing-message" *ngIf="typingUser !== ''" >{{ typingUser }} is typing...</span>

    <div class="card-footer">
        <div class="input-group">
            <div class="input-group-append">
                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
            </div>
            <textarea (input)="userIsTyping()" (keyup.enter)="sendMessage($event)" name="chat" class="form-control type_msg" placeholder="Type your message..." [(ngModel)]="messageText" required ></textarea>
            <div class="input-group-append">
                <span class="input-group-text send_btn"  (click)="sendMessage($event)"><i class="fas fa-location-arrow"></i></span>
            </div>
        </div>
    </div>
</div>    

