<div class="card">
    <div *ngIf="conversation !== 'inbox'" class="card-header msg_head">
        <div class="d-flex bd-highlight">
            <a [href]="'profile/' + receiver.email">
                <div class="img_cont">
                    <img [src]="receiver.pictureURL" alt="profile" class="rounded-circle user_img">
                    <span [ngClass]="{'offline': onlineUsers.indexOf(receiver.email) === -1}" class="online_icon"></span>
                </div>
            </a>
            
            <div class="user_info">
                <a [href]="'profile/' + receiver.email" style="text-decoration: none;">
                    <span>{{ receiver.firstName + ' ' + receiver.lastName }}</span>
                </a>
            </div>		
        </div>
    </div>
    
    <div class="card-body msg_card_body" id="msg-container">
        <div *ngIf="conversation === 'inbox'"> 
            <h4> Start a new conversation</h4> 
        </div>
    </div>

    <span id="typing-message" *ngIf="typingUser !== ''" >{{ typingUser }} is typing...</span>

    <div *ngIf="conversation !== 'inbox'" class="card-footer">
        <div class="input-group">
            <div class="input-group-append">
                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
            </div>
            <textarea (input)="userIsTyping()" (keyup.enter)="sendMessage($event)" name="chat" class="form-control type_msg" placeholder="Type your message..." [(ngModel)]="messageText" required ></textarea>
            <div class="input-group-append">
                <span class="input-group-text send_btn"  (click)="sendMessage($event)"><i class="fas fa-location-arrow"></i></span>
            </div>
        </div>
    </div>
</div>     