<app-navbar [navLinks]="true"> </app-navbar>

<section class="hero">
    <div style="text-align: center;" *ngIf="posts.length === 0" class="container">
            There aren't posts to be displayed. Find more friends to see their posts.
    </div>
    <div *ngFor="let post of posts" class="container">
        <div class="row">	
            <div class="col-lg-6 offset-lg-3">
                <div class="cardbox shadow-lg bg-white">
                    <div class="cardbox-heading">
                        <div class="media m-0">
                            <div class="d-flex mr-3">
                                <a *ngIf="post.profilePictureURL !== undefined" [href]="'profile/' + post.email"><img class="img-fluid rounded-circle" [src]="post.profilePictureURL" alt="picture"></a>
                            </div>
                            <div class="media-body">
                                <a *ngIf="post.firstName !== undefined" [href]="'profile/' + post.email" class="remove-href-style">
                                    <h5 class="m-0" >{{ post.firstName + ' ' + post.lastName }}</h5>
                                </a>
                                <small>
                                    <span>
                                        <i class="icon ion-md-time"></i>  {{ post.timestamp | dateAgo }} 
                                    </span>
                                </small>
                            </div>
                        </div>
                    </div>
         
                    <div class="cardbox-item">
                        <div style="margin: 15px; text-align: justify;">
                            <p>
                                {{ post.description }}
                            </p>
                        </div>
                        <img class="img-fluid" [src]="post.pictureURL" alt="Image">
                    </div>
    
                    <div class="cardbox-base">
                        <ul class="float-right">
                            <li><a><i class="fa fa-comments" ></i></a></li>
                            <li><a><em class="mr-5">2</em></a></li>
                        </ul>
                        <ul>
                            <li><button class="btn" style="background-color: rgb(69, 0, 61); color:white; border-color:rgb(69, 0, 61);" ><i class="fa fa-thumbs-up" > Like</i></button></li>
                            <li><a><span>242 Likes</span></a></li>
                        </ul>			   
                    </div>
        <!--
                    <div class="social-footer">
                        <div class="social-comment">
                            <span class="comment-avatar float-left" style="margin-top: 10px;">
                                <a href=""><img class="rounded-circle" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/6.jpg" alt="..."></a>                            
                            </span>
                            <div class="media-body">
                                <a href="#">
                                    Andrew Williams
                                </a>
                                <br>
                                Internet tend to repeat predefined chunks as necessary
                                <br>
                                <small class="text-muted">12.06.2014</small>
                            </div>
                    </div>

                    <hr>

                    <div class="social-comment">
                        <span class="comment-avatar float-left" style="margin-top: 10px;">
                            <a href=""><img class="rounded-circle" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/6.jpg" alt="..."></a>                            
                        </span>
                        <div class="media-body">
                            <a href="#">
                                Andrew Williams
                            </a>

                            <br>
                            Making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                            <br>
                            <small class="text-muted">12.06.2014</small>
                        </div>
                    </div>
                </div>
            -->
        <div class="social-footer">
           <div class="social-comment" style="display: flex;">
               <span class="comment-avatar float-left" style="margin-top: 10px;">
                   <a href=""><img class="rounded-circle" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/6.jpg" alt="..."></a>                            
                  </span>
               <div class="media-body">
                   <textarea class="form-control" placeholder="Write comment..."></textarea>
               </div>
               <button class="btn" style="background-color: rgb(69, 0, 61); color:white; border-color:rgb(69, 0, 61); margin-top: 10px; margin-bottom: 10px;"> Post</button>
           </div>
       </div>		       
       </div>
    
      </div>				
     </div>
    </div>
</section> 