
.hero {
    padding-top: 6.25rem !important;
    margin: 0px !important;
  }
  .cardbox {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0px !important;
  }
  
  .btn-primary {
      background-color: rgb(148, 46, 136);
  }
  /* ------------------------------- */
  /* Cardbox Heading
  ---------------------------------- */
  .cardbox .cardbox-heading {
    padding: 16px;
    margin: 0;
  }
  .cardbox .btn-flat.btn-flat-icon {
   border-radius: 50%;
   font-size: 24px;
   height: 32px;
   width: 32px;
   padding: 0;
   overflow: hidden;
   color: #fff !important;
   background: #b5b6b6;
   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .cardbox .float-right .dropdown-menu{
    position: relative;
    left: 13px !important;  
  }
  .cardbox .float-right a:hover{
    background: #f4f4f4 !important;	
  }
  .cardbox .float-right a.dropdown-item {
    display: block;
    width: 100%;
    padding: 4px 0px 4px 10px;
    clear: both;
    font-weight: 400;
    font-family: 'Abhaya Libre', serif;
    font-size: 14px !important;
    color: #848484;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
  }
  
  /* ------------------------------- */
  /* Media Section
  ---------------------------------- */
  .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .media .mr-3{
    margin-right: 1rem !important;
  }
  .media img{
    width: 48px !important;
    height: 48px !important;
    padding: 2px;
    border: 2px solid #f4f4f4;
  } 
  .media-body {
    -ms-flex: 1;
    flex: 1;
    padding: .4rem !important;
  }
  .media-body p{
    font-family: 'Rokkitt', serif;	
    font-weight: 500 !important;
    font-size: 14px;
    color: #88898a;
  }
  .media-body small span{
    font-family: 'Rokkitt', serif;	
    font-size: 12px;
    color: #aaa;
    margin-right: 10px;
  }
  
  
  /* ------------------------------- */
  /* Cardbox Item
  ---------------------------------- */
  .cardbox .cardbox-item {
      position: relative;
      display: block;
  }
  
  .img-responsive{
      display: block;
      max-width: 100%;
      height: auto;
  }	
  .fw {
      width: 100% !important;
      height: auto;
  }
  
  
  /* ------------------------------- */
  /* Cardbox Base
  ---------------------------------- */
  .cardbox-base{
   border-bottom: 2px solid #f4f4f4;
  }	
  .cardbox-base ul{
   margin: 10px 0px 10px 15px!important; 
   padding: 10px !important;
   font-size: 0px;	
    display: inline-block;
  }
  .cardbox-base li {
    list-style: none;
    margin: 0px 0px 0px -8px !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-block;
  }
  
  .cardbox-base li a{
    margin: 0px !important;
    padding: 0px !important;
  }
  .cardbox-base li a i{
   position: relative;
   top: 4px; 
   font-size: 16px;
   color: #8d8d8d;
   margin-right: 15px;
  }
  .cardbox-base li a span{
   font-family: 'Rokkitt', serif;
   font-size: 14px;
   color: #8d8d8d;
   margin-left: 20px;
   position: relative;
   top: 5px; 
  }
  .cardbox-base li a em{
   font-family: 'Rokkitt', serif;
   font-size: 14px;
   color: #8d8d8d;
   position: relative;
   top: 3px; 
  }
  .cardbox-base li a img{
    width: 25px;
    height: 25px;
    margin: 0px !important;
    border: 2px solid #fff;
  }
  
  
  /* ------------------------------- */
  /* Cardbox Comments
  ---------------------------------- */
  .cardbox-comments{
    padding: 10px 40px 20px 40px !important;
    font-size: 0px;	
    text-align: center;
    display: inline-block;
  }
  .cardbox-comments .comment-avatar img{
    margin-top: 1px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
  }
  .cardbox-comments .comment-body {
    overflow: auto;
  }
  .search {
   position: relative;
   right: -60px;
   top: -40px;
   margin-bottom: -40px;
   border: 2px solid #f4f4f4;	
   width: 100%;
   overflow: hidden;
  }
  .search input[type="text"] {
   background-color: #fff;
   line-height: 10px;
   padding: 15px 60px 20px 10px;
   border: none;
   border-radius: 4px;
   width: 350px;
   font-family: 'Rokkitt', serif;
   font-size: 14px;
   color: #8d8d8d;
   height: inherit;
   font-weight: 700;
  }
  .search button {
   position: absolute;
   right: 0;
   top: 0px;
   border: none;
   background-color: transparent;
   color: #bbbbbb;
   padding: 15px 25px;
   cursor: pointer;
   
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .search button i {
   font-size: 20px;
   line-height: 30px;
   display: block;
  }
  
  
  /* ------------------------------- */
  /* Author
  ---------------------------------- */
  .author a{
   font-family: 'Rokkitt', serif;
   font-size: 16px;
   color: #00C4CF;
  }
  .author p{
   font-family: 'Rokkitt', serif;
   font-size: 16px;
   color: #8d8d8d;
  }
  body{margin-top:20px;
    background:#eee;
    }
    /* Social feed */
    .social-feed-separated .social-feed-box {
      margin-left: 62px;
    }
    .social-feed-separated .social-avatar {
      float: left;
      padding: 0;
    }
    .social-feed-separated .social-avatar img {
      width: 52px;
      height: 52px;
      border: 1px solid #e7eaec;
    }
    .social-feed-separated .social-feed-box .social-avatar {
      padding: 15px 15px 0 15px;
      float: none;
    }
    .social-feed-box {
      /*padding: 15px;*/
      border: 1px solid #e7eaec;
      background: #fff;
      margin-bottom: 15px;
    }
    .article .social-feed-box {
      margin-bottom: 0;
      border-bottom: none;
    }
    .article .social-feed-box:last-child {
      margin-bottom: 0;
      border-bottom: 1px solid #e7eaec;
    }
    .article .social-feed-box p {
      font-size: 13px;
      line-height: 18px;
    }
    .social-action {
      margin: 15px;
    }
    .social-avatar {
      padding: 15px 15px 0 15px;
    }
    .social-comment .social-comment {
      margin-left: 45px;
    }
    .social-avatar img {
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }
    .social-avatar .media-body a {
      font-size: 14px;
      display: block;
    }
    .social-body {
      padding: 15px;
    }
    .social-body img {
      margin-bottom: 10px;
    }
    .social-footer {
      border-top: 1px solid #e7eaec;
      padding: 10px 15px;
      background: #f9f9f9;
    }
    .social-footer .social-comment img {
      width: 32px;
      margin-right: 10px;
    }
    .social-comment:first-child {
      margin-top: 0;
    }
    .social-comment {
      margin-top: 15px;
    }
    .social-comment textarea {
      font-size: 12px;
    }
    
    
    .form-control, .single-line {
        background-color: #FFFFFF;
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        display: block;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
        font-size: 14px;
    }
    
    
    .ibox {
      clear: both;
      margin-bottom: 25px;
      margin-top: 0;
      padding: 0;
    }
    .ibox.collapsed .ibox-content {
      display: none;
    }
    .ibox.collapsed .fa.fa-chevron-up:before {
      content: "\f078";
    }
    .ibox.collapsed .fa.fa-chevron-down:before {
      content: "\f077";
    }
    .ibox:after,
    .ibox:before {
      display: table;
    }
    .ibox-title {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #ffffff;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 3px 0 0;
      color: inherit;
      margin-bottom: 0;
      padding: 14px 15px 7px;
      min-height: 48px;
    }
    .ibox-content {
      background-color: #ffffff;
      color: inherit;
      padding: 15px 20px 20px 20px;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
    }
    .ibox-footer {
      color: inherit;
      border-top: 1px solid #e7eaec;
      font-size: 90%;
      background: #ffffff;
      padding: 10px 15px;
    }
  
    body{margin-top:20px; background-color: #eeeeee;}
  
    .well-social-post {
        border-radius: 0;
        background-color: #ffffff;
        border: 1px solid #ddd;
        padding:0;
    }
    
    .well-social-post .glyphicon,
    .well-social-post .fa,
    .well-social-post [class^='icon-'],
    .well-social-post [class*='icon-'] {
        font-weight: bold;
        color: #999999;
    }
    
    .well-social-post a,
    .well-social-post a:hover,
    .well-social-post a:active,
    .well-social-post a:focus {
        text-decoration: none;
    }
    
    .well-social-post .list-inline {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }
    
    .well-social-post .list-inline li {
        position: relative;
    }
    
    .well-social-post .list-inline li.active::after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        content: "";
        top: 30px;
        left: 50%;
        left: -webkit-calc(50% - 5px);
        left: -moz-calc(50%-5px);
        left: calc(50% - 5px);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #dddddd;
    }
    
    .well-social-post .list-inline li.active a {
        color: #222222;
        font-weight: bold;
    }
    
    .well-social-post .form-control {
        width: 100%;
        min-height: 100px;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    
    .well-social-post .list-inline {
        padding: 10px;
    }
    
    .well-social-post .list-inline li + li {
        margin-left: 10px;
    }
    
    .well-social-post .post-actions {
        margin: 0;
        background-color: #f6f7f8;
        border-top-color: #e9eaed;
    }     
    
.remove-href-style {
    text-decoration: none;
    color: black;
}

.remove-href-style:hover {
  color: black;
}

.del_photo {
  float: right;
  margin:5px 5px 0 0;
  cursor: pointer;
}

.name {
  color: black;
  font-weight: bold;
}

.name:hover {
  color: rgb(119, 36, 109);
}